div
  nav#scroll-navigator
    .m-navigator__wrapper
      .m-navigator__menu
        nuxt-link(to="/").m-navigator__item(data-active='', data-section='campaigns') Campañas
        span.m-navigator__item(data-section='branding') Branding
        span.m-navigator__item(data-section='digital') Mundo Digital
        span.m-navigator__item(data-section='editorials') Editoriales
        span.m-navigator__item(data-section='visual') Visual
        span.m-navigator__item(data-section='production') Producción
        span.m-navigator__item(data-section='events') Eventos
        nuxt-link(to="/contact").m-navigator__item Contacto
